Source: openmediavault-unionfilesystems
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: filesystems

Package: openmediavault-unionfilesystems
Architecture: all
Depends: openmediavault (>= 1.7),
         aufs-tools,
         mhddfs,
         ${misc:Depends}
Recommends: mergerfs
Description: Union filesystems plugin for OpenMediaVault.
 Make it possible to mount drives under a single mountpoint with an union
 filesystem such as aufs or mhddfs.
